.mdl-layout--fixed-drawer:not(.is-small-screen)>.mdl-layout__header {margin-left: 0; width: 100%;}
.mdl-layout--fixed-drawer>.mdl-layout__content {margin-left: 0;}
.mdl-layout__header-row {padding: 0; margin: 0 auto;}
.mdl-card__title-text {margin: 0 auto;}
.mdl-layout__content {background-color: rgb(33,150,243) !important;}

.last {margin-bottom: 20px;}

.center-login {margin: auto;}